<section class="voiture" id="VOITURE">
  <div class="heading">
    <span>Tout les Voitures</span>
  </div>
  <div class="voiture-container container">
    <div class="box">
      <img src="img/3309403.jpg" alt="" />
      <h2>Dacia Duster</h2>
    </div>
    <div class="box">
      <img src="img/3780420.jpg" alt="" />
      <h2>Reneau Clio</h2>
    </div>
    <div class="box">
      <img src="img/1672407.jpg" alt="" />
      <h2>Audi A4</h2>
    </div>
  </div>
</section>
